* {
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: black;
}

/* page border */

body {
    margin: 50px;
    margin-top: 130px;
    border: 10px solid #c03d2b;
    border-radius: 100px;
}

#content-border {
    margin: 5px;
    border: 5px solid #c03d2b;
    border-radius: 90px;
}

/* header area */

#headerIcons {
    position: absolute;
    top: -100%;
    right: -2%;
}

#headerIcons a {
    margin: 0px 10px;
}

.carousel-indicators button {
    margin: 0px 10px !important;
    width: 20px !important;
    height: 20px !important;
    border-radius: 100%;
}

.carousel-item img {
    height: 500px;
}

#tagline {
    padding-right: 35%;
}

#tagline h2 {
    padding: 50px 50px;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 2px;
}

hr {
    width: 60%;
    margin: 40px auto;
}

.sectionHeading {
    font-size: 4rem;
    letter-spacing: 10px;
    text-align: center;
}

.mainPageMenuText {
    font-size: 5rem;
    line-height: 5rem;
}

#mainPageMenuText1 {
    letter-spacing: 10px;
}

#mainPageMenuText2 {
    margin-top: 24px;
    width: 1px;
    word-wrap: break-word;
}

#menuCategories img {
    border: 1px solid black;
}

/* footer */

footer .row {
    height: 80px;
    background-color: #c03d2b;
    border-radius: 0px 0px 90px 90px;
    color: white; /*temp*/
}

footer a {
    margin: 0 5px;
}

#accountModal .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

#passwordHelpInline {
    margin-left: 90px;
}

.product {
    text-align: center;
    font-size: 2rem;
}

.product img {
    padding-bottom: 20px;
}

.product p {
    padding: 0px 30px;
}

@media screen and (min-width: 992px) {
    
#navbarSupportedContent {
    margin-top: 45px;
}

}