body {
    margin: 50px;
    margin-top: 130px;
    border: 10px solid #c03d2b;
    border-radius: 100px;
}

#content-border {
    margin: 5px;
    border: 5px solid #c03d2b;
    border-radius: 90px;
}

.nav-item {
    font-family: 'Roboto Slab', serif;
}

#headerIcons {
    position: absolute;
    top: -100%;
    right: -2%;
}

#headerIcons a {
    margin: 0px 10px;
}

.carousel-item img {
    height: 500px;
}

@media screen and (min-width: 992px) {
    
#navbarSupportedContent {
    margin-top: 40px;
}

}