#siteTitleBackImg {
    z-index: 1;
}

#siteTitle {
    z-index: 2;
}

#carouselExampleIndicators {
    z-index: 0;
}

.carousel-item img {
    height: 500px;
}

@media only screen and (min-width: 1200px) {

#categories div {
    justify-content: center;
}

#categories img {
    width: 20%;
    margin: 0px 15px;
}

}